profiles {

	standard {
		process.executor = 'local'
	}

	cluster {
		process.executor = 'slurm' 
		process.scratch = true


		process {
			withLabel: big_mem {
				cpus = { 10 * task.attempt }
				queue = 'core'
				time = { 24.h * task.attempt }
				clusterOptions = {"-A $params.allocation"}
				errorStrategy  = 'retry'
				maxRetries = 1
			}
			withLabel: mid_mem {
				cpus = { 4 * task.attempt }
				queue = 'core'
				time = { 3.h * task.attempt }
				clusterOptions = {"-A $params.allocation"}
				errorStrategy  = 'retry'
				maxRetries = 5


			}
			withLabel: small {
				cpus = { 2 * task.attempt }
				queue = 'core'
				time = { 1.h * task.attempt }
				clusterOptions = {"-A $params.allocation"}
				errorStrategy  = 'retry'
				maxRetries = 8

			}
		}
	}


	singularity {
		docker.enabled = false
		singularity.enabled = true
		process.executor = 'slurm' 

		// singularity cache and library - hardcoded at the moment
		 singularity.libraryDir="/proj/snic2022-23-410/nobackup/private/nbis6257/analysis/containers"
		 singularity.cacheDir="/proj/snic2022-23-410/nobackup/private/nbis6257/analysis/containers"

		 // temp
		 // singularity.libraryDir="/proj/snic2022-23-333/nobackup/private/agata/nbis6257/containers"
		 // singularity.cacheDir="/proj/snic2022-23-333/nobackup/private/agata/nbis6257/containers"


		process {
			withName: multiqc {
				container = 'docker://ewels/multiqc'
			}
			withName: fastqc {
				container = 'docker://staphb/fastqc'
			}
			withName: idx {
				container = 'docker://nanozoo/bowtie2:2.3.5--a14d3f5'
			}
			withName: mapPE {
				container = 'docker://nanozoo/bowtie2:2.3.5--a14d3f5'
			}
			withName: trim_readsPE {
				container = 'docker://dceoy/cutadapt'
			}
			withName: filter_alns {
				container = 'file:////proj/snic2022-23-410/nobackup/private/nbis6257/analysis/containers/quay.io-biocontainers-ngsutils-0.5.9--py27heb79e2c_4.img'
			}
			withName: count_table {
				container = 'file:////proj/snic2022-23-410/nobackup/private/nbis6257/analysis/containers/quay.io-biocontainers-subread-2.0.1--h5bf99c6_1.img'
			}

			withName: filt_count_table {
			  container = 'file:////proj/snic2022-23-410/nobackup/private/nbis6257/analysis/containers/perl-5.30.3.img'
			}

		}
	}
}




