params {
        allocation = "snic2022-22-783"

        projname = "6257_shRNA_proc"

        fastqdir = "/proj/snic2022-23-410/private/data"

        shLibraryFa= "/proj/snic2022-23-410/nobackup/private/nbis6257/analysis/reference/shRNAlibrary/SHPH01_LPhs_1-10.desc.fa"

        annot= "/proj/snic2022-23-410/nobackup/private/nbis6257/analysis/tst1/SHPH01_LPhs_1-10.saf"

        libraryDescription="/proj/snic2022-23-410/nobackup/private/nbis6257/analysis/reference/shRNAlibrary/SHPH01_LPhs_1-10.desc.tsv"

        // adapters
		ada5="CGATTTCTTGGCTTTATATATCTTGTGGAAAGGACGAAACACCGG"
		ada3="TTTTTGAATTCTCGACCTCGAGACAAATGGCAGTATTCATCCAC"

		ada5rc="GTGGATGAATACTGCCATTTGTCTCGAGGTCGAGAATTCAAAAA"
		ada3rc="CCGGTGTTTCGTCCTTTCCACAAGATATATAAAGCCAAGAAATCG"

		// number of mismatches to tolerate in alignments
		nm="1"

		// comparisons setup
        sampleinfo = "/proj/AB1234/metadata/comparisons.txt"

}


